* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 232.5px;
    padding: 21.84px 0px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-menu {
    display: none;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons-list {
    display: flex;
    gap: 20px;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    text-align: center;

}

.collection {
    width: calc((100%-90px) / 4);
    padding-top: 40px;
    padding-bottom: 40px;


}

.collections img {
    width: 100%;
}

@media screen and (min-width:0px) and (max-width:400px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .collections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .collection
    {
         width: 100%;
    }

}

@media screen and (min-width:401px) and (max-width:700px) {
   
   .collections {
        display: flex;
        ;
        
        
    }
   
    .collection {
        width: calc( (100% - 30px) / 2);
    }

}

@media screen and (min-width:701px) and (max-width:900px) {
    .collection {
        width: calc((100% - 60px) / 3);
    }
}