* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    gap: 232.5px;
    padding: 21.84px 0px;
    margin: 0 165px;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons-list {
    display: flex;
    gap: 20px;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin: 0 165px;
}

.collection {
    width: calc((100%-90px) / 4);
    padding-top: 40px;
    padding-bottom: 40px;


}

.collections img {
    width: 100%;
}